server:
  port: 5004
camel:
  server-port: 5000
  springboot:
    main-run-controller: true
  dataformat:
    jackson:
      auto-discover-object-mapper: true

zeebe:
  client:
    max-execution-threads: 100
    number-of-workers: 5
    evenly-allocated-max-jobs: "#{${zeebe.client.max-execution-threads} / ${zeebe.client.number-of-workers}}"
  broker:
    contactpoint: "localhost:26500"

management:
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    ROOT: INFO

ams:
  local:
    enabled: true
  timeout: 60000

fineract:
  base-url: https://localhost:8443/fineract-provider/api/v1
  endpoint:
    validation: /paymentHub/verification
    confirmation: /paymentHub/confirmation
